<option value="6"  data-ng-selected="$parent.parentscope.floorPlanSessionData.eventBookingStartTime==6">Before 6 hr</option>
<option value="12" data-ng-selected="$parent.parentscope.floorPlanSessionData.eventBookingStartTime==12">Before 12 hr</option>
<option value="24" data-ng-selected="$parent.parentscope.floorPlanSessionData.eventBookingStartTime==24">Before 24 hr</option>
<option value="36" data-ng-selected="$parent.parentscope.floorPlanSessionData.eventBookingStartTime==36">Before 36 hr</option>
<option value="48" data-ng-selected="$parent.parentscope.floorPlanSessionData.eventBookingStartTime==48">Before 2 days</option>
<option value="72" data-ng-selected="$parent.parentscope.floorPlanSessionData.eventBookingStartTime==72">Before 3 days</option>
<option value="96" data-ng-selected="$parent.parentscope.floorPlanSessionData.eventBookingStartTime==96">Before 4 days</option>
<option value="120" data-ng-selected="$parent.parentscope.floorPlanSessionData.eventBookingStartTime==120">Before 5 days</option>
<option value="144" data-ng-selected="$parent.parentscope.floorPlanSessionData.eventBookingStartTime==144">Before 6 days</option>