<div class="container-fluid">
	<div class="row list-group">
		<!-- <div class="col-md-2 col-sm-2 col-xs-2" data-ng-include="'templates/view/sideBarPage.html'">
			
		</div> -->
		<div class="col-md-12 col-sm-12 col-xs-12">
			
			<!-- <div class="col-md-12 col-sm-12 col-xs-12">
				 <div class="col-md-12 col-sm-12 col-xs-12">
				 	<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" data-ng-click="$root.menu_toggle($event)">Toggle Menu</a>
				 </div>
			 	
			</div> -->
			
			<!-- contentWill go here -->
			<div class="col-md-12 col-sm-12 col-xs-12 Content-containerClass">
				<div class="col-md-4 col-sm-12 col-xs-12 pull-right">
					<div class="pull-left">
						<img alt="" data-ng-src="./rest/v1/user/file/getImage?fileId={{jobsDetail.userProfile.userProfileImageId}}" title="{{jobsDetail.userProfile.userMaster.userFname}}" class="img-circle" style="width: 100px;height: 95px;">
					</div>
					<div class="pull-left col-md-12 col-sm-12 col-xs-12">
						<h3>{{jobsDetail.userProfile.userMaster.userFname}} {{jobsDetail.userProfile.userMaster.userLName}}</h3>
						<h4>{{jobsDetail.userProfile.userMaster.emailId}}</h4>
						<h4>{{jobsDetail.userProfile.address}}</h4>
						<!-- <h4>{{jobsDetail.userProfile.orgName}}</h4> -->
						<hr>
					</div>
				</div>
				
				<div class="col-md-7 col-sm-12 col-xs-12">
					<h3>{{jobsDetail.jobTitle}}</h3>
					<hr>
					<div class="col-md-12 col-sm-12 col-xs-12" align="left">
						<p>{{jobsDetail.jobDescription}}</p>
						<hr>
					</div>
				
					<div class="col-md-12 col-sm-12 col-xs-12">
						<label>Message to Client:</label><br>
						<textarea  class="messagetextarea form-control" data-ng-model="message"></textarea>
						<hr> 
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						
						<br>
						<br>
						<button class="btn btn-success" data-ng-click="applyJob()">
							Apply
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
