<div class="container-fluid">
		<div class="row list-group" id="wrapper">
			<div class="col-md-2 col-sm-2 col-xs-2" data-ng-include="'templates/view/sideBarPage.html'">
				
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10" id="page-content-wrapper">
				
				<div class="col-md-12 col-sm-12 col-xs-12">
					 <div class="col-md-12 col-sm-12 col-xs-12">
					 	<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" data-ng-click="$root.menu_toggle($event)">Toggle Menu</a>
					 </div>
				 	
				</div>
				
				<!-- contentWill go here -->
				<div class="col-md-12 col-sm-12 col-xs-12 Content-containerClass">
					
				</div>
				
				
			</div>
		</div>
</div>